body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f7fafc;
}

.layout-body--eN6VLA1CC {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}