/* src/index.css */
html, body, #root, .centered-bg {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centered-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background: yellow;
  min-height: 100vh;
}

h1 {
  margin: 0;
  font-size: 2rem;
  color: #333;
}